.theme-toggle__wrapper {
    margin-left: 20px;
    margin-right: auto;
}

.theme-toggle__btn {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    border: none;
    width: 50px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle__icon-sun {
    display: none;
}

.theme-toggle__icon-moon {
    display: block;
}

body.dark-theme {
    & .movies-section {
        background-color: #272e34;
    }

    & .movies-section__title {
        color: #fff;
    }

    & .movie__title {
        color: #fff;
    }

    & .pagination li {
        background-color: #ff6b01c2;
    }

    & .theme-toggle__icon-sun {
        display: block;
    }

    & .theme-toggle__icon-moon {
        display: none;
    }

    & .modal-detail {
        background-color: #272e34;
    }

    & .modal-detail__title {
        color: #fff;
    }

    & .modal-detail__col1,
    & .modal-detail__col2 {
        color: #fff;
    }

    & .modal-detail__about-label {
        color: #fff;
    }

    & .modal-detail__article {
        color: #fff;
    }
    & .movies-section__message {
        color: #fff;
    }
}
