<footer class="footer">
    <div class="footer-container">
        <ul class="footer-menu">
            <li class="footer-menu__item">
                <p class="footer-menu__text">© 2022 | All Rights Reserved |</p>
            </li>
            <li class="footer-menu__item">
                <p class="footer-menu__text-two">
                    Developed with
                    <a href="" class="footer-menu__heart">
                        <svg class="heart-icon">
                            <use href="./images/icons.svg#icon-heart"></use>
                        </svg>
                        by
                    </a>
                </p>
                <button class="footer-menu__link" type="button" data-footer-modal-open>GoIT Students</button>
            </li>
        </ul>

        <div class="footer-modal is-hidden" data-modal>
            <div class="footer-modal__bg">
                <div class="footer-modal__head">
                    <img src="/src/images/pc/goit-logo.png" alt="footer logo" />
                    <span class="footer-modal__title">Team</span>
                    <button data-footer-modal-close>
                        <svg class="footer-modal__icon-close">
                            <use href="/src/images/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>
                <ul class="team">
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>Dmytro Chahin</span>
                            <p>Teamlead, Footer</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat1.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>Галєчка</span>
                            <p>Scram Master</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat2.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>Аврамець Юрій Іванович</span>
                            <p>Footer</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat3.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>....</span>
                            <p>....</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat4.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                    <li class="team__card">
                        <img class="team__photo" src="/src/images/pc/cat.jpg" alt="photo 1" />
                        <div class="team__caption">
                            <span>...</span>
                            <p>...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
