<footer class="footer">    
    <div class="footer-container">
        <ul class="footer-menu">
            <li class="footer-menu__item">
        <p class="footer-menu__text">©  2022 | All Rights Reserved |  </p></li>
        <li  class="footer-menu__item"><p class="footer-menu__text-two"> Developed with
        <a href="" class="footer-menu__heart">
            <svg class="heart-icon">
                <use href ="./images/icons.svg#icon-heart"></use>
            </svg>
            by </a></p>
                <a class="footer-menu__link" href="https://goit.ua/course/">GoIT Students</a>
            
        </li>
        </ul>
    </div>
</footer>
