<header class="header-page">
    <!-- Container -->
    <div class="container header-page__container">
        <!-- Top wrapper -->
        <div class="header-page__top-wrapper">
            <!-- Logo -->
            <a class="logo" href="index.html">
                <svg class="logo__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
                <p class="logo__text">Filmoteka</p>
            </a>

            <!-- Navigation -->
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="index.html">home</a>
                    </li>
                    <li class="navigation__item navigation__item--active">
                        <a href="library.html">my library</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Button list-->
        <ul class="btn-list">
            <li class="btn-list__item"><button class="library-btn library-btn--active">Watched</button></li>
            <li class="btn-list__item"><button class="library-btn">Queue</button></li>
        </ul>
    </div>
</header>
