<div class="backdrop is-hidden">
    <div class="modal">
        <button class="close_btn">
            <svg width="32" height="32"><use href="./images/icons.svg#icon-heart"></use></svg>
        </button>
        <div class="modal_poster">
            <!-- <img class="modal_img" src="" alt="" /> -->
        </div>
        <div class="modal_info">
            <h2 class="modal_title"></h2>
            <table>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </table>

            <p class="modal_txt">About</p>
            <p class="modal_article"></p>
            <ul class="modal_list_btn list">
                <li>
                    <button type="button" class="modal_list_button btn_primary">Add to Watched</button>
                </li>
                <li>
                    <button type="button" class="modal_list_button btn_secondary">Add to Queue</button>
                </li>
            </ul>
        </div>
    </div>
</div>
