.footer-container{
   justify-content: center;
   display: flex;
   padding-top:28.71px;
   padding-bottom: 29.7px;

   @media screen and (max-width: 767px) {
    width: 320px;
}
@media screen and (min-width: 768px) {
    width: 768px;
    padding-top:30px;
   padding-bottom: 30px;}
@media screen and (min-width: 1200px) {
    padding-top:28.71px;
   padding-bottom: 29.7px;
    width: 1200px;
}}
.footer{

background: #F7F7F7;

}
.heart-icon{
width: 14px;
height: 12.88px;
}