.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;

    border-top: 1px solid #ff6b01;
}

.footer__text {
    text-align: center;
    font-size: 12px;
}

.footer__icon {
    width: 14px;
    height: 12px;
}

.footer__link {
    background-color: transparent;
    border: none;
}

.footer__link::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #ff6b01;
}

// __M O D A L__

.footer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
    overflow-y: scroll;

    color: #fff;
    background: rgba(47, 48, 58, 0.8);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-modal__bg {
    background: #fff;
    position: relative;

    max-width: 550px;

    @include mq(tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        width: 900px;
        transform: translate(-50%, -50%);
    }

    @include mq(desktop) {
        position: absolute;
        top: 50%;
        left: 50%;
        // margin: 0 auto;
        transform: translate(-50%, -50%);
        width: 1100px;
    }
}

.footer-modal__head {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: orange;
    padding: 10px;

    & img {
        width: 70px;

        @include mq(tablet) {
            width: 100px;
        }
    }
}

.footer-modal__title {
    font-size: 26px;
    margin: 0 auto;
}

.footer-modal__btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;

    @include mq(tablet) {
        top: 11px;
    }

    @include mq(desktop) {
        top: 11px;
    }
}

.footer-modal__icon-close {
    width: 30px;
    height: 30px;
}

// __T E A M __

.team {
    padding: 20px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__card {
        display: flex;
        width: 100%;
        position: relative;

        @media screen and (max-width: 767.98px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: 768px) {
            width: calc((100% - 120px) / 4);
            margin: 15px;
        }
    }
}

.team__caption {
    display: flex;
    width: 100%;
    height: 50px;

    position: absolute;
    bottom: 0;
    left: 0;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 30px;

    background-color: rgba(180, 180, 180, 0.7);
}
